<?xml version='1.0' encoding='utf-8'?>
<widget id="com.andrewdesmarais.PhoneGapWorkout" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PhoneGap Workout</name>
    <description>
        A simple app to work with PhoneGap
    </description>
    <author email="terodox@gmail.com" href="https://github.com/terodox">
        Andy Desmarais
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
