div.calculator {
  height: 100%;  
}
div.row {
  height: 28%;
  width: 92%;
}
div.row button {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 23%;
  font-size: 20vw;
}
div.commandArea {
  height: 14%;
  width: 100%;
  font-size: 12vh;
  text-align: right;
}